<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activity: <%= activity.id %></title>
</head>
<body>
    <h1>Activity: <%= activity.id %></h1>
    <table>
        <tr>
            <td>ID</td>
            <td><%= activity.id %></td>
        </tr>
        <tr>
            <td>Version</td>
            <td><%= activity.version %></td>
        </tr>
        <tr>
            <td>Engine</td>
            <td><%= activity.engine %></td>
        </tr>
        <tr>
            <td>Command Line</td>
            <td>
                <code>
                    <%= activity.commandLine.join('<br>') %>
                </code>
            </td>
        </tr>
        <tr>
            <td>Parameters</td>
            <td><%= JSON.stringify(activity.parameters) %></td>
        </tr>
        <tr>
            <td>App Bundles</td>
            <td><%= JSON.stringify(activity.appbundles) %></td>
        </tr>
    </table>
</body>
</html>