<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Bundle: <%= bundle.id %></title>
</head>
<body>
    <h1>App Bundle: <%= bundle.id %></h1>
    <table>
        <tr>
            <td>ID</td>
            <td><%= bundle.id %></td>
        </tr>
        <tr>
            <td>Version</td>
            <td><%= bundle.version %></td>
        </tr>
        <tr>
            <td>Engine</td>
            <td><%= bundle.engine %></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><%= bundle.description %></td>
        </tr>
        <tr>
            <td>Package</td>
            <td><%= bundle.package %></td>
        </tr>
    </table>
</body>
</html>