<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding: 1em;
        }

        body, .form-control-plaintext {
            color: var(--vscode-editor-foreground);
            background-color: var(--vscode-editor-background);
        }
    </style>
    <title>Bucket: <%= bucket.bucketKey %></title>
</head>
<body>
    <form>
        <div class="form-group row">
            <label for="bucket-key" class="col-sm-2 col-form-label">Key</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="bucket-key" value="<%= bucket.bucketKey %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="bucket-owner" class="col-sm-2 col-form-label">Owner</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="bucket-owner" value="<%= bucket.bucketOwner %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="created-date" class="col-sm-2 col-form-label">Created</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="created-date" value="<%= new Date(bucket.createdDate) %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="policy-key" class="col-sm-2 col-form-label">Policy</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="policy-key" value="<%= bucket.policyKey %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Permissions</label>
            <div class="col-sm-10">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Client ID</th>
                            <th scope="col">Access</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const permission of bucket.permissions) { %>
                            <tr>
                                <td><%= permission.authId %></td>
                                <td><%= permission.access %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>