doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.css', type='text/css')
    title Preview: #{name}
    style.
      html, body {
        margin: 0;
        padding: 0;
      }
      body {
        color: var(--vscode-editor-foreground);
        background-color: var(--vscode-editor-background);
      }
  body
    #viewer
    script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.js')
    script.
      // Hack: disable writing to document.cookie to prevent the i18n library to throw an exception
      // (writing to document.cookie is not allowed when a webpage comes from a data URI)
      Object.defineProperty(document, 'cookie', { get: () => '', set: () => {}})
      const ACCESS_TOKEN = '#{token.access_token}';
      const URN = '!{urn}';
      const GUID = '!{guid}';
      const VIEWER_CONFIG = JSON.parse('!{viewer.config}');
      console.log(`ACCESS_TOKEN: ${ACCESS_TOKEN}`);
      console.log(`URN: ${URN}`);
      console.log(`GUID: ${GUID}`);
      console.log(`LMV_VIEWER_VERSION: ${LMV_VIEWER_VERSION}`);
    script
      include scripts/derivative-preview.js
