<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Object: <%= object.objectKey %></title>
</head>
<body>
    <h1>Object: <%= object.objectKey %></h1>
    <table>
        <tr>
            <td>Object ID</td>
            <td><%= object.objectId %></td>
        </tr>
        <tr>
            <td>Object Key</td>
            <td><%= object.objectKey %></td>
        </tr>
        <tr>
            <td>Bucket Key</td>
            <td><%= object.bucketKey %></td>
        </tr>
        <tr>
            <td>Size</td>
            <td><%= object.size %></td>
        </tr>
        <tr>
            <td>SHA1</td>
            <td><%= object.sha1 %></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><%= object.location %></td>
        </tr>
    </table>
</body>
</html>