<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding: 1em;
        }

        body, .form-control, .form-control-plaintext {
            color: var(--vscode-editor-foreground);
            background-color: var(--vscode-editor-background);
        }
    </style>
    <title>Webhook: <%= webhook.hookId %></title>
</head>
<body>
    <form>
        <div class="form-group row">
            <label for="hook-id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-id" value="<%= webhook.hookId %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-system" class="col-sm-2 col-form-label">System</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-system" value="<%= webhook.system %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-event" class="col-sm-2 col-form-label">Event</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-event" value="<%= webhook.event %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-scope" class="col-sm-2 col-form-label">Scope</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-scope" value="<%= Object.keys(webhook.scope).map(key => `${key}=${webhook.scope[key]}`).join(' ') %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-status" value="<%= webhook.status %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-callback" class="col-sm-2 col-form-label">Callback URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-callback" value="<%= webhook.callbackUrl %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-urn" class="col-sm-2 col-form-label">URN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-urn" value="<%= webhook.urn %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-tenant" class="col-sm-2 col-form-label">Tenant</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hook-tenant" value="<%= webhook.tenant %>" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="hook-createdby" class="col-sm-2 col-form-label">Created By</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="hook-createdby" value="<%= webhook.createdBy %>" readonly>
            </div>
            <label for="hook-createddate" class="col-sm-2 col-form-label">Created Date</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="hook-createddate" value="<%= webhook.createdDate %>" readonly>
            </div>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
